# node11


sudo rpm --import http://yum.puppetlabs.com/RPM-GPG-KEY-puppetlabs

sudo yum -y upgrade
sudo yum install -y java-1.6.0-openjdk

rpm -Uvh http://downloads.puppetlabs.com/mcollective/tanukiwrapper-3.2.3-1jpp.x86_64.rpm 
rpm -Uvh http://www.gtlib.gatech.edu/pub/apache//activemq/apache-activemq/5.5.0/apache-activemq-5.5.0-bin.tar.gz



